.card_services{
    display: flex;
    flex-direction: column;
    color: var(--main-color);
}

.our_services{
    background-image: url(../images/our_services.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.cards_services{
    display: flex;
    flex-direction: row;
}

.card_img{
    padding: 50px 50px;
}

.card_pen{
    background-color: var(--grey15);
    padding: 24px 24px;
    border-radius: 10px;
}

.btn_learn_more{
    padding: 18px 16px;
    background-color: var(--grey15);
    color: var(--main-color);
    border: none;
    border-radius: 8px;
    width: 100%;
}