.cards{
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    justify-content: space-between;
    gap: 80px;
    background-color: var(--grey10);
    border: var(--border);
}

.cards_mup {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards_title {
    margin-bottom: 20px;
}


.img_cards {
    max-width: 88px;
    border: var(--border);
    border-radius: 10px;
    padding: 24px 24px;
}

.btn_learn_more{
    padding: 18px 16px;
    background-color: var(--grey15);
    color: var(--main-color);
    border: none;
    border-radius: 8px;
    width: 100%;
}

.include_card_first {
    display: flex;
    flex-direction: row;
}

.include_card_second {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.none_btn {
    & button{
        display: none;
    }
    .cards_mup {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .cards_title {
        margin: 0;
    }
    .cards_text {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    padding: 80px 80px;
}