    <div class="container_heroblok">
        
        <div class="digital_hb">
            <h1>
                A Digital Product Studio<br>that will Work
            </h1>
        </div>

        <div class="text_heroblok">
            <p class="text_heroblok_p">
                For <span>Startups</span>, <span>Enterprise leaders</span>, <span>Media & Publishers</span> and <span>Social Good</span>
            </p>
        </div>
        <div class="hb_btn">
        @@include('./_button1.html', {
        "href":"#",
        "title": "Our Works"
        })

        @@include('./_button.html', {
        "href":"#",
        "title": "Contact Us"
        })
        </div>
    </div>