<section class="sponsor">
    <div class="sponsor_card">
        <img src="./assets/images/zapier.webp" alt="">
    </div>
    <div class="sponsor_card">
        <img src="./assets/images/spotify.webp" alt="">
    </div>
    <div class="sponsor_card">
        <img src="./assets/images/zoom.webp" alt="">
    </div>
    <div class="trusted">
        <p class="trusted_text">
            Trusted By 250+ Companies
        </p>
    </div>
    <div class="sponsor_card">
        <img src="./assets/images/slack.webp" alt="">
    </div>
    <div class="sponsor_card">
        <img src="./assets/images/amazon.webp" alt="">
    </div>
    <div class="sponsor_card">
        <img src="./assets/images/Adobe.webp" alt="">
    </div>
</section>