<div class="website @@website_edit">
    <div class="text_website">
        <h3 class="title_website">
            @@title
        </h3>
        <p class="p_website">
            @@desc
        </p>
    </div>
    <div class="account">
        <div class="info_account">
            <img src="./assets/images/johnsmith.webp" alt="###">
            <div class="text_account">
                <h3>John Smith</h3>
                <p>CEO of Chic Boutique</p>
            </div>
        </div>
        <button class="btn_website">
            <p>Open Website</p>
        </button>
    </div>
</div>