// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/button1';
@use 'components/card';
@use 'components/header';
@use 'components/heroblok';

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--grey10)
}

span {
  padding: 12px 14px;
  background-color: var(--grey20);
  border-radius: 8px;
  color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-size: 68px;
}