// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/button1';
@use 'components/card';
@use 'components/header';
@use 'components/heroblok';
@use 'components/sponsor';
@use 'components/our_services';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: var(--grey10);
}

main {
  padding: 0 162px 0 162px;
}

span {
  padding: 12px 14px;
  background-color: var(--grey20);
  border-radius: 8px;
  color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  font-size: 68px;
}

@font-face {
    font-family: 'Barlow';
    src: url(../assets/fonts/Barlow-Bold.ttf);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url(../assets/fonts/Barlow-SemiBoldItalic.ttf);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url(../assets/fonts/Barlow-Medium.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url(../assets/fonts/Barlow-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}